@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;500&display=swap');


.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 2em;
  background-color: transparent;
  min-height: 100vh;
}

.contact-box {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  border: 0.17em solid white;
  padding: 1.9em;
  margin-top: 3em;
  width: 40vw;
  min-width: 17em;
}

.green {
  background-color: aquamarine;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  margin-top: 0.63em;
  margin-bottom: 0.32em;
}

input {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.94rem;
  color: #000;
  background-color: white;
  width: 33vw;
  min-width: 16.5em;
  margin: 0.5em 0;
  padding: 1em;
}

.error { border: 2px solid #c70e61; }
 
#message {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 0.94rem;
  background-color: white;
  color: #000;
  width: 33vw;
  min-width: 16.5em;
  margin: 0.5em 0;
  padding: 1em;
}

::placeholder {
   font-family: 'Montserrat', sans-serif;
}

.errorMessage {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color:#c70e61;
  margin-top: 10px;
  font-size: 0.94rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

.sucess{
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  color:rgb(0, 255, 26);
  margin: 5px 5px 20px 5px;
  font-size: 0.94rem;
  display: flex;
  align-items: center;
  justify-items: center;
}

i {
  margin-left: 10px;
  font-size: 20px;
}

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  background-color:#c70e61;
  color: white;
  font-size: 0.90rem;
  padding: 0.63em 0.63em;
  border: none;
  margin: 0.2em 0;
  width: 8.75em;
  cursor: pointer;
}

button:hover {
  border: bottom 0.5em;
  background-color: #6e0ab6;
}

button:active {

  background-color: #3d0253;
}